<h1>Reset Your Password</h1>
<form action="/verifyEmail" method="POST">
  <label for="email">Email</label>
  <br />
  <input type="email" name="email" placeholder="Enter email" />
  <br />
  <button type="submit">Submit</button>
</form>
